{% extends "catalog/base.html" %}
{% block content %}

<article class="media search-bar-section">
<div class="media-body">
<form action="{% url 'catalog_index' %}" method="get" >
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</div>
</article>

	{% for book in books %}
		<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >{{ book.author }}</a>
              <small class="text-muted">ISBN-13: {{ book.isbn }}</small>
            </div>
            <h3><a class="article-title" >{{ book.title }}</a></h3>

            {% if book.activecopies > 0 %}
            <font size="2" class= "available" color="green">Available</font> 
            
             {% if user.is_authenticated %}
            <form action="{% url 'catalog_index' %}" method="get" > <input type="hidden" name="hold_isbn" value={{book.isbn}}> <input type="submit" class = "hold-button" value="Hold" />
      </form>{% endif %}

      {% else %}

       <font size="2" class = "available" color="red">Not Available</font>
       {% if user.is_authenticated %}
       <button class="hold-button" type="button" disabled>Hold</button> {% endif %}
      {% endif %}

            <img class="book-img" img src="media/{{ book.cover_image }}" </div>

        

          </div>
		</article>
		
	{% endfor %}



	{% for movie in movies %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >{{ movie.director }}</a>
              <small class="text-muted">ISAN: {{ movie.isan }}</small>
            </div>
            <h3><a class="article-title" >{{ movie.title }}</a></h3>

            {% if movie.activecopies > 0 %}
            <font size="2" class= "available" color="green">Available</font> 
            
             {% if user.is_authenticated %}
            <form action="{% url 'catalog_index' %}" method="get" > <input type="hidden" name="hold_isan" value={{movie.isan}}> <input type="submit" class = "hold-button" value="Hold" />
      </form>{% endif %}

      {% else %}

       <font size="2" class = "available" color="red">Not Available</font>
       {% if user.is_authenticated %}
       <button class="hold-button" type="button" disabled>Hold</button> {% endif %}
      {% endif %}

            <img class="book-img" img src="media/{{ movie.cover_image }}" </div>

        

          </div>
    </article>
    
  {% endfor %}


	{% for m in music %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >{{ music.composer }}</a>
              <small class="text-muted">ISMN: {{ m.ismn }}</small>
            </div>
            <h3><a class="article-title" >{{ m.title }}</a></h3>

            {% if m.activecopies > 0 %}
            <font size="2" class= "available" color="green">Available</font> 
            
            {% if user.is_authenticated %}
            <form action="{% url 'catalog_index' %}" method="get" > <input type="hidden" name="hold_ismn" value={{m.ismn}}> <input type="submit" class = "hold-button" value="Hold" />
      </form>{% endif %}

      {% else %}

       <font size="2" class = "available" color="red">Not Available</font>
       {% if user.is_authenticated %}
       <button class="hold-button" type="button" disabled>Hold</button> {% endif %}
      {% endif %}

            <img class="book-img" img src="media/{{ m.cover_image }}" </div>

        

          </div>
    </article>
    
  {% endfor %}

{% endblock content %}




