{% extends "catalog/base.html" %}
{% block content %}
<form action="{% url 'catalog_index' %}" method="get">
    <label for="search_for">Search for:</label>
    <select name="search_for">
        <option value="Books" />Books</option>
        <option value="Movies" />Movies</option>
        <option value="Music" />Music</option>
    </select>   <!-- ADDED THIS LINE -->
    <input type="submit" value="Filter" />   <!-- DELETE name="featured" FROM ORIGINAL CODE -->  
</form>
	{% for book in books %}
		<h1>{{book.title}}</h1>
		<p>By {{book.author}}</p>
		<p>ISBN: {{book.isbn}}</p>
	{% endfor %}
	{% for movie in movies %}
		<h1>{{movie.title}}</h1>
		<p>Director: {{movie.director}}</p>
		<p>Rating: {{movie.rating}}</p>
	{% endfor %}
	{% for music in musics %}
		<h1>{{music.title}}</h1>
		<p>Composer: {{music.composer}}</p>
		<p>Genre: {{music.genre}}</p>
	{% endfor %}
{% endblock content %}