{% extends "catalog/base.html" %}
{% block content %}



<form action="{% url 'catalog_index' %}" method="get">
    {{ form }}
    <input type="submit" value="Submit" />
</form>


	{% for book in books %}
		<h1>{{book.title}}</h1>
		<p>By {{book.author}}</p>
		<p>ISBN: {{book.isbn}}</p>
	{% endfor %}
	{% for movie in movies %}
		<h1>{{movie.title}}</h1>
		<p>Director: {{movie.director}}</p>
		<p>Rating: {{movie.rating}}</p>
	{% endfor %}
	{% for m in music %}
		<h1>{{m.title}}</h1>
		<p>Composer: {{m.composer}}</p>
		<p>Genre: {{m.genre}}</p>
	{% endfor %}
{% endblock content %}