{% extends 'base.html' %}

{% load auth_extras %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  
  {% if request.user|has_group:"ADMIN" %}
	<p> User belongs to Developer </p>
  {% else %}
	<p> User does not belong to Developer </p>
  {% endif %}
  
  
   <p><a href="{% url 'logout' %}">logout</a></p>
   
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}