{% extends 'base.html' %}

{% load auth_extras %}

{% block title %}Reports{% endblock %}

{% block content %}
<div class="form">
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  
  {% if request.user|has_group:"ADMIN" %}
   
   <li><strong>Items Currently Checked Out:</strong> {{ currentCheckCount }}</li>
   <li><strong>Items Currently Checked Out:</strong> {{ currentCheckCount }}</li>
   <li><strong>Items Currently Held:</strong> {{ currentHoldsCount }}</li>
   <li><strong>Amount of Students:</strong> {{ studentAmount }}</li>
   <li><strong>Amount of Faculty:</strong> {{ facultyAmount }}</li>
   <li><strong>Amount of Librarian:</strong> {{ librarianAmount }}</li>
   <li><strong>Amount of Admins:</strong> {{ adminAmount }}</li>
    </div>
  
  
  
    <p><a href="{% url 'home' %}">Home</a></p>
	
	
  {% else %}
	<p>You are not logged in as an Admin</p>
	
	<a href="{% url 'login' %}">login</a> |
	<a href="{% url 'signup' %}">signup</a>
  {% endif %}
  
   
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
